includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 1
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - database/migrations/*
        - database/factories/*
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Method .* has no return type specified#'
        - '#Call to an undefined method#'
        - '#Parameter \#1 \$value of method Carbon\\Carbon#'
        - '#Cannot access property .* on mixed#'
        - '#Access to an undefined property#'
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false